<div class="container">
    <form  class="form" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <h3 class="heading">Sign UP</h3>
        <app-notification #notification [horizontal]="'right'" [vertical]="'top'"></app-notification>
        <ul>
            <li>
                <label for="firsName">FirstName:</label>
                <input type="text" name="firstName" formControlName="firstName">
            </li>
            <li>
                <label for="lastName">LastName:</label>
                <input type="text" name="lastName" formControlName="lastName">
            </li>
            <li>
                <label for="userName">UserName:</label>
                <input type="text" name="userName" formControlName="userName">
            </li>
            <li>
                <label for="password">Password:</label>
                <input type="password" name="password" formControlName="password">
            </li>
            <li>
                <label for="confirmPassword">Confirm Password:</label>
                <input type="password" name="confirmPassword" formControlName="confirmPassword">
            </li>
            <li>
                <label for="email">Email:</label>
                <input type="text" name="email" formControlName="email">
            </li>
            <li>
                <label for="roles">Roles:</label>
                <div formArrayName="roles">
                    @for(role of rolesArray; track role.index){
                        <div>
                            <input type="text" name="roles" [formControlName]="role.index" placeholder="Enter the roles you prefer.">
                            @if(role.control.value){
                                <p>{{role.control.value}}</p>
                                <button  kendoButton themeColor="light" type="button" (click)="removeItem(role.index)">Remove</button>
                            }
                            
                        </div>
                    }
                </div>
                <button  kendoButton themeColor="info" type="button" (click)="addItem()">Add role</button>
            </li>
        </ul>
        <button  kendoButton themeColor="info" type="button" (click)="onSubmit()">Submit</button>
        </form>
                <!-- <div class="container">
                    <label for="task">Enter Roles</label>
                    <input type="text" name="task" [(ngModel)]="task" />
                    <button type="button" (click)="onAddRoles()">Add</button>
                </div>
                <div class="container">
                    <h3>Role List</h3>
                    <ul>
                        <ol *ngFor="let task of todoList$ | async;let i=index">
                            {{task}}
                            <button type="button" (click)="onDelete(i)">Delete</button>
                           </ol>
                    </ul>
                </div> -->
</div>