<h1>Tiltlabs Assessment</h1>
<div>
  <kendo-appbar [positionMode]="positionMode"  [themeColor]="'dark'">
    <kendo-appbar-section>
      <kendo-avatar
        shape="circle"
        [imageSrc]="profileImage"
        width="24px"
        height="24px"
      ></kendo-avatar>
    </kendo-appbar-section>

    <kendo-appbar-section>
      <a class="link" routerLink="/" routerLinkActive="active">Grid</a>
      <span class="k-appbar-separator"></span>
      <a class="link" routerLink="/login" routerLinkActive="active">Login</a>
      <span class="k-appbar-separator"></span>
      <a class="link" routerLink="/cards" routerLinkActive="active">Cards</a>
      <span class="k-appbar-separator"></span>
      <a class="link" routerLink="/about" routerLinkActive="active">About</a>
      <span class="k-appbar-separator"></span>
    </kendo-appbar-section>
  </kendo-appbar>
</div>
<div>
  <!-- <app-grid></app-grid> -->
   <router-outlet></router-outlet>
</div>